
<div class="container">
  <h2>Editar Datos de Lentes</h2>
  <form>
    <div class="mb-3">
      <label for="modelo" class="form-label">Modelo</label>
      <input type="text" class="form-control" id="modelo" name="Modelo" required>
    </div>
    <div class="mb-3">
      <label for="marca" class="form-label">Marca</label>
      <input type="text" class="form-control" id="marca" name="Marca" required>
    </div>
    <div class="mb-3">
      <label for="color" class="form-label">Color</label>
      <input type="text" class="form-control" id="color" name="Color"required>
    </div>
    <div class="mb-3">
      <label for="material" class="form-label">Material</label>
      <input type="text" class="form-control" id="material" name="Material"required>
    </div>
    <div class="mb-3">
      <label for="precio" class="form-label">Precio</label>
      <input type="number" class="form-control" id="precio" name="Precio"required>
    </div>
    <div class="mb-3">
      <label for="cantidad" class="form-label">Cantidad</label>
      <input type="number" class="form-control" id="cantidad" name="Cantidad" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

